<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pcplaceautocomplete</name>
    <displayName><![CDATA[Google Places Autocomplete]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Add Google Places autocomplete to address forms and save coordinates.]]></description>
    <author><![CDATA[Your Name]]></author>
    <tab><![CDATA[checkout]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
